:root{
  --bg-color:grey;
  --bg-card-yellow:#fee000; /*amarillo*/
  --bg-card-blue:#30afef; /*azul*/
  --bg-card-pink:#ec648d; /*rosa*/
  --bg-card-purple:#9e008c; /*morado */
  --bg-card-green:#39d850; /*verde*/
  --bg-card-red:#ff4e25; /*Rojo carnoso*/
  --bg-card-fluorpink:#ff14ce;
  --bg-card-fluoryellow:#ccff00; /*amarillo fluorescente*/
  --bg-card-fluorblue:#15f4ee;
  --bg-card-fluorgreen:#1eff14;

}

body{
  background-color: var(--bg-color);
}

h1{
      font-family: 'Bungee Shade', cursive;
      font-size: 5rem;
      text-align: center;
}
.article{
  position: relative;
  margin:60px;
  width: 300px;
  height: 300px;

  display: inline-block;
}

.fluorpink{
  background-color: var(--bg-card-fluorpink);
}
.fluorblue{
  background-color: var(--bg-card-fluorblue);
}
.fluorgreen{
  background-color: var(--bg-card-fluorgreen);
}
.fluoryellow{
  background-color: var(--bg-card-fluoryellow);
}


/*------------- FX: Article Blur + border gradient ------------------------------------------------------------------------*/
/*------------- Article Blur----------------------------------------------------------------------------------------------*/
.article::before{
  content:"";
  position: absolute;
  top:-2px;
  left:-2px;
  right:-2px;
  bottom: -2px;
  background-color: #ffffff;
  z-index:-1;
}
.article::after{
  content:"";
  position: absolute;
  top:-2px;
  left:-2px;
  right:-2px;
  bottom: -2px;
  background-color: #ffffff;
  z-index:-1;
  filter:blur(40px);
}
/*------------ Border Grdient ------------------------------------------------------------------------------------------*/
.fluorpink::before,
.fluorpink::after{
  background: linear-gradient(235deg,var(--bg-card-fluorgreen),var(--bg-color),var(--bg-card-fluorblue));
}

.fluorblue::before,
.fluorblue::after{
  background: linear-gradient(235deg,var(--bg-card-fluoryellow),var(--bg-color),var(--bg-card-fluorpink));
}

.fluorgreen::before,
.fluorgreen::after,
.fluoryellow::before,
.fluoryellow::after{
  background: linear-gradient(235deg,var(--bg-card-fluorpink),var(--bg-color),var(--bg-card-fluorblue));
}
/* -------------------------------------------------FX END------------------------------------------------------------*/
